@use "../_mixin/" as *;
@use "./_text" as *;

//m-image01
@mixin m-image01 {
    @include moduleBaseVar("image");
    
    width: var(--image-width, fit-content);
    overflow: var(--image-overflow, hidden);

    &>.wrapper {
        display: var(--image-wrapper-display, block);
        width: var(--image-wrapper-width, 100%);

        &>.inner {
            display: var(--image-inner-display, block);
            width: var(--image-inner-width, 100%);
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

[data-module~="m-image01"] {
    @include m-image01;
}
