@use "sass:list";
@use "sass:map";
@use "../_mixin/" as *;
@use "../_config" as *;


// l-wrapper_bg01
@mixin l-wrapper_bg01 {
    padding: var(--wrapper-padding, 20px);
    background-color: var(--wrapper-bg, #F5F5F5);
    box-sizing: border-box
}

[data-module~="l-wrapper_bg01"] {
    @include l-wrapper_bg01;
}





//l-gridContents01

@mixin l-gridContents01 {
    &>.wrapper {
        &>.inner {
            // display: grid;
            display: flex;
            flex-wrap: wrap;

            &>.block {
                --image-width: 100%;
            }
        }
    }
}



// ブレイクポイントの短縮名定義
$bp-config: (
  "xl": $RES_WID_EX_LARGE01,
  "lg": $RES_WID_LARGE01,
  "md": $RES_WID_MIDDLE01,
  "sm": $RES_WID_SMALL01,
  "xs": $RES_WID_EX_SMALL01
);

// 1. 共通の幅計算ロジック（.blockに対して設定）
@mixin grid-width($cols) {
  // 親の .inner を経由して .block を指定
  & > .wrapper > .inner > .block {
    @if $cols == 1 {
      width: 100%;
    } @else {
      width: calc((100% - var(--inner-gap, 0px) * (#{$cols} - 1)) / #{$cols});
    }
  }
}

// 2. モジュールの基本構造
[data-module~="l-gridContents01"] {
  @include l-gridContents01;

  & > .wrapper > .inner {
    gap: var(--inner-gap, 0px);
  }

  // --- data-gridによる列数制御（[data-module]と同じ階層のdata-gridを参照） ---
  
  // 基本列数
  @for $i from 1 through 6 {
    &[data-grid~="#{$i}"] {
      @include grid-width($i);
    }
  }

  // レスポンシブ列数
  @each $bp-name, $max-width in $bp-config {
    @for $i from 1 through 6 {
      &[data-grid~="#{$bp-name}-#{$i}"] {
        @media screen and (max-width: #{$max-width}) {
          @include grid-width($i);
        }
      }
    }
  }
}





//l-sideByContents01

@mixin l-sideByContents01 {
  
    &>.wrapper{
        @include defaultVar("wrapper");
        &>.inner {
            @include defaultVar("inner");
            display: flex;
            gap: var(--inner-gap, 20px);

            & > .block {
                @include defaultVar("block");
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: auto;
                
                &:has(.image) {
                    flex-grow: 0;
                    flex-shrink: 0;
                }
            }
        }
    }

    $directions: (
        "left": row,
        "right": row-reverse
    );

    @each $name, $direction in $directions {
        &[data-side="#{$name}"] {
            & > .wrapper > .inner {
                flex-direction: $direction;
            }
        }
    }
}

[data-module*="l-sideByContents01"] {
  @include l-sideByContents01;
}