@use "../_mixin/" as *;

// m-link01
@mixin m-link01 {
    @include moduleBaseVar("link");

    &>.wrapper {
        text-decoration: underline;
        color: var(--link-text-color, #00F);
    }
}

[data-module~="m-link01"] {
    @include m-link01;
}


// m-btn01
@mixin m-btn01 {
    @include moduleBaseVar("btn");

    display: var(--btn-display, block);

    &>.wrapper {
        overflow: var(--wrapper-overflow, hidden);
        display: var(--wrapper-display, block);
        width: var(--wrapper-width, 100%);
        padding: var(--wrapper-padding, 10px 20px);
        color: var(--wrapper-text-color, #FFF);
        background-color: var(--wrapper-bg-color, #F00);
        border-radius: var(--wrapper-border-radius, 5px);
        text-align: var(--wrapper-text-align, center);
    }
}

[data-module~="m-btn01"] {
    @include m-btn01;
}
