@use "../_mixin/" as *;
@use "../_config" as *;


// m-link01
@mixin m-link01 {

    $type: "module";
    @include moduleBaseVar($type);

    @include cssVar($type, margin-bottom, 10px);

    &:first-child {
        @include cssVar($type, margin-top, 0);
    }

    &:last-child {
        @include cssVar($type, margin-bottom, 0);
    }

    &>.wrapper {
        @include cssVar(($type, "wrapper"), color, var(--root-base-link-color01, #00F));
    }
}

[data-module~="m-link01"] {
    @include m-link01;
}



@mixin m-linkBox01 {
    $type: "linkBox";
    @include moduleBaseVar($type);

    @include cssVar($type, margin-bottom, 10px);

    &:first-child {
        @include cssVar($type, margin-top, 0);
    }

    &:last-child {
        @include cssVar($type, margin-bottom, 0);
    }

    &>.wrapper {
        @include cssVar(($type, "wrapper"), display, block);
        @include cssVar(($type, "wrapper"), padding, 20px);
        @include cssVar(($type, "wrapper"), background-color, #eee);

        @media (hover: hover) {
            &:hover {
                @include cssVar(($type, "wrapper"), background-color, #F00);
            }
        }
    }

}

[data-module~="m-linkBox01"] {
    @include m-linkBox01;
}


// m-btn01
@mixin m-btn01 {
    $type: "btn";
    @include moduleBaseVar($type);

    @include cssVar($type, margin-bottom, 10px);

    &:first-child {
        @include cssVar($type, margin-top, 0);
    }

    &:last-child {
        @include cssVar($type, margin-bottom, 0);
    }

    &>.wrapper {
        @include cssVar(($type, "wrapper"), display, block);
        @include cssVar(($type, "wrapper"), width, 100%);
        @include cssVar(($type, "wrapper"), padding, 10px 20px);
        @include cssVar(($type, "wrapper"), color, #FFF);
        @include cssVar(($type, "wrapper"), background-color, var(--root-base-link-color01, #00F));
        @include cssVar(($type, "wrapper"), border-radius, 5px);
        @include cssVar(($type, "wrapper"), text-align, center);

        @media (hover: hover) {
            &:hover {
                @include cssVar(($type, "wrapper"), background-color, #F00);
            }
        }
    }
}

[data-module~="m-btn01"] {
    @include m-btn01;
}
