@use "../_mixin/" as *;

// m-text01
@mixin m-text01 {
    
    $type: "module";
    
    @include moduleBaseVar($type);
    @include cssVar($type, margin-bottom, 10px);
    @include cssVar($type, font-size, var(--root-base-font-size01, 10px));
    @include cssVar($type, line-height, var(--root-base-line-height01, 1.8));

    &:first-child {
        @include cssVar($type, margin-top, 0);
    }

    &:last-child {
        @include cssVar($type, margin-bottom, 0);
    }

    &>.wrapper {
        &>.inner {
            @include cssVar(($type, "inner"), letter-spacing, var(--root-base-letter-spacing01, 0.05em));
            @include cssVar(($type, "inner"), white-space, normal);
        }
    }

    a {
        @include cssVar($type, color, var(--text-link-color, var(--root-base-link-color01, #00F)));
        @include cssVar($type, text-decoration, var(--text-link-text-decoration, underline));
    }

    strong {
        font-weight: bold;
    }
    sup {
        font-size: 0.6em;
        vertical-align: super;
    }
    sub {
        font-size: 0.6em;
        vertical-align: sub;
    }
    s {
        text-decoration: line-through;
    }
    i {
        font-style: italic;
    }
}

[data-module~="m-text01"] {
    @include m-text01;
}