@use "../_mixin/" as *;

// m-text01
@mixin m-text01 {
    @include moduleBaseVar("text");

    margin-bottom: var(--text-margin-bottom, 10px);

    font-size: var(--text-font-size, var(--root-base-font-size01, 10px));
    line-height: var(--text-line-height, var(--root-base-line-height01, 1.8));

    &:first-child {
        margin-top: var(--text-margin-top, 0);
    }

    &:last-child {
        margin-bottom: var(--text-margin-bottom, 0);
    }

    &>.wrapper {
        &>.inner {
            letter-spacing: var(--inner-letter-spacing, var(--root-base-letter-spacing01, 0.05em));
            word-break: var(--inner-word-break, break-word);
        }
    }

    a {
        color: var(--text-link-color, var(--root-base-link-color01, #00F));
        text-decoration: var(--text-link-text-decoration, underline);
    }

    strong {
        font-weight: bold;
    }
    sup {
        font-size: 0.6em;
        vertical-align: super;
    }
    sub {
        font-size: 0.6em;
        vertical-align: sub;
    }
    s {
        text-decoration: line-through;
    }
    i {
        font-style: italic;
    }
}

[data-module~="m-text01"] {
    @include m-text01;
}