@use "../_mixin/" as *;


//m-title01
@mixin m-title01 {
    @include moduleBaseVar("title");

    margin-bottom: var(--title-margin-bottom, 16px);

    font-weight: var(--title-font-weight, bold);
    line-height: var(--title-line-height, var(--root-base-line-height01, 1.8));

    &:first-child {
        margin-top: var(--title-margin-top, 0);
    }

    &:last-child {
        margin-bottom: var(--title-margin-bottom, 0);
    }

    &>.wrapper {
        &>.inner {
            letter-spacing: var(--inner-letter-spacing, var(--root-base-letter-spacing01, 0.05em));
        }
    }
}

[data-module~="m-title01"] {
    @include m-title01;
}


