@use "../_mixin/" as *;


//m-title01
@mixin m-title01 {
    $type: "module";
    @include moduleBaseVar($type);

    @include cssVar($type, margin-bottom, 16px);
    @include cssVar($type, font-weight, bold);
    @include cssVar($type, line-height, var(--root-base-line-height01, 1.8));

    &:first-child {
        @include cssVar($type, margin-top, 0);
    }

    &:last-child {
        @include cssVar($type, margin-bottom, 0);
    }

    &>.wrapper {
        &>.inner {
            @include cssVar(($type, "inner"), letter-spacing, var(--root-base-letter-spacing01, 0.05em));
        }
    }
}

[data-module~="m-title01"] {
    @include m-title01;
}


