
@use "./_base/" as *;
@use "./_mixin/" as *;
@use "./_module/" as *;
@use "_config/" as *;



// コンポーネント
// ------------------------------------------------------------


//c-common01
@mixin c-common01 {
    margin-bottom: 60px;
    &:last-child {
        margin-bottom: 0;
    }
    &>.wrapper {
        &>.inner {
            &>.block {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
[data-module~="c-common01"] {    
    @include c-common01;
}


.c-side-by-contents01 {
    --image-width: 100%;
    --inner-gap: 20px;
    container-type: inline-size;

    &>.wrapper {
        @include l-wrapper_contentsWidth01;
    }
    &>.wrapper {
        &>.inner {
           .block {
                &:has(.image) {
                    --block-width: 50%;
                }
            }
        }
    }
    &[data-side="left"] {
        .block {
            &:has(.image) {
                --block-margin-left: calc((100svw - #{$CONTENTS_WIDTH01}) * -0.5);
                @container (max-width: #{$CONTENTS_WIDTH01}) {
                    --block-margin-left: calc(var(--root-contents-side-gap01, 20px) * -1.0);
                }
            }
        }
    }
    &[data-side="right"] {
        .block {
            &:has(.image) {
                --block-margin-right: calc((100svw - #{$CONTENTS_WIDTH01}) * -0.5);
                @container (max-width: #{$CONTENTS_WIDTH01}) {
                    --block-margin-right: calc(var(--root-contents-side-gap01, 20px) * -1.0);
                }
            }
        }
    }
}


// ページ
// ------------------------------------------------------------

//p-component01
.p-component01 {
    --link-text-color: #007BFF;
    --btn-text-color: #FFFFFF;
    --btn-bg-color: #007BFF;

    &>.wrapper {
        @include l-wrapper_contentsWidth01;
    }
}


