@mixin defaultVar($value: "") {
    $prefix: if($value != "", $value + "-", "");

    opacity: var(--#{$prefix}opacity, 1);
    display: var(--#{$prefix}display, revert);
    gap: var(--#{$prefix}gap, 0);
    flex-direction: var(--#{$prefix}flex-direction, row);
    justify-content: var(--#{$prefix}justify-content, flex-start);
    align-items: var(--#{$prefix}align-items, stretch);
    flex-wrap: var(--#{$prefix}flex-wrap, nowrap);

    position: var(--#{$prefix}position, static);
    top: var(--#{$prefix}top, auto);
    right: var(--#{$prefix}right, auto);
    bottom: var(--#{$prefix}bottom, auto);
    left: var(--#{$prefix}left, auto);
    z-index: var(--#{$prefix}z-index, auto);

    width: var(--#{$prefix}width, auto);
    height: var(--#{$prefix}height, auto);
    margin-top: var(--#{$prefix}margin-top, 0);
    margin-right: var(--#{$prefix}margin-right, 0);
    margin-bottom: var(--#{$prefix}margin-bottom, 0);
    margin-left: var(--#{$prefix}margin-left, 0);

    padding-top: var(--#{$prefix}padding-top, 0);
    padding-right: var(--#{$prefix}padding-right, 0);
    padding-bottom: var(--#{$prefix}padding-bottom, 0);
    padding-left: var(--#{$prefix}padding-left, 0);

    box-sizing: var(--#{$prefix}box-sizing, border-box);

    color: var(--#{$prefix}text-color, inherit);
    background-color: var(--#{$prefix}bg-color, transparent);
    border-width: var(--#{$prefix}border-width, 0);
    border-style: var(--#{$prefix}border-style, none);
    border-color: var(--#{$prefix}border-color, transparent);
    border-radius: var(--#{$prefix}border-radius, 0);
    box-shadow: var(--#{$prefix}box-shadow, none);

    font-size: var(--#{$prefix}font-size, inherit);
    font-weight: var(--#{$prefix}font-weight, inherit);
    line-height: var(--#{$prefix}line-height, normal);
    letter-spacing: var(--#{$prefix}letter-spacing, normal);
    text-align: var(--#{$prefix}text-align, left);
    // white-space: var(--#{$prefix}white-space, normal);
    // overflow-wrap: var(--#{$prefix}overflow-wrap, break-word);
    // word-break: var(--#{$prefix}word-break, break-word);

    scale: var(--#{$prefix}scale, 1);
    rotate: var(--#{$prefix}rotate, 0deg);
    translate: var(--#{$prefix}translate, 0, 0);
    transform-origin: var(--#{$prefix}transform-origin, center);
}


@mixin moduleBaseVar($value: "") {
    $prefix: if($value != "", $value + "-", "");
    @include defaultVar("#{$prefix}");

    &>.wrapper {
        @include defaultVar("wrapper");
        &>.inner {
           @include defaultVar("inner");
        }
    }
}