@use "sass:list";
@use "sass:meta";

@mixin var($value: "") {
    opacity: var(--#{$value}opacity, 1);
    display: var(--#{$value}display, revert);
    gap: var(--#{$value}gap, 0);
    flex-direction: var(--#{$value}flex-direction, row);
    justify-content: var(--#{$value}justify-content, flex-start);
    align-items: var(--#{$value}align-items, stretch);
    flex-wrap: var(--#{$value}flex-wrap, nowrap);

    position: var(--#{$value}position, static);
    top: var(--#{$value}top, auto);
    right: var(--#{$value}right, auto);
    bottom: var(--#{$value}bottom, auto);
    left: var(--#{$value}left, auto);
    z-index: var(--#{$value}z-index, auto);

    width: var(--#{$value}width, auto);
    height: var(--#{$value}height, auto);
    margin-top: var(--#{$value}margin-top, 0);
    margin-right: var(--#{$value}margin-right, 0);
    margin-bottom: var(--#{$value}margin-bottom, 0);
    margin-left: var(--#{$value}margin-left, 0);

    padding-top: var(--#{$value}padding-top, 0);
    padding-right: var(--#{$value}padding-right, 0);
    padding-bottom: var(--#{$value}padding-bottom, 0);
    padding-left: var(--#{$value}padding-left, 0);

    box-sizing: var(--#{$value}box-sizing, border-box);

    color: var(--#{$value}color, inherit);
    background-color: var(--#{$value}bg-color, transparent);
    border-width: var(--#{$value}border-width, 0);
    border-style: var(--#{$value}border-style, none);
    border-color: var(--#{$value}border-color, transparent);
    border-radius: var(--#{$value}border-radius, 0);
    box-shadow: var(--#{$value}box-shadow, none);

    font-size: var(--#{$value}font-size, inherit);
    font-weight: var(--#{$value}font-weight, inherit);
    line-height: var(--#{$value}line-height, normal);
    letter-spacing: var(--#{$value}letter-spacing, normal);
    text-align: var(--#{$value}text-align, left);
    // white-space: var(--#{$value}white-space, normal);
    // overflow-wrap: var(--#{$value}overflow-wrap, break-word);
    // word-break: var(--#{$value}word-break, break-word);

    scale: var(--#{$value}scale, 1);
    rotate: var(--#{$value}rotate, 0deg);
    translate: var(--#{$value}translate, 0, 0);
    transform-origin: var(--#{$value}transform-origin, center);
}

@mixin defaultVar($value: "") {
    $prefix: if($value != "", $value + "-", "");

    @include var("#{$prefix}");

    &::before {
        content: var(--#{$prefix}before-content, none);
        @include var("#{$prefix}before-");
    }   
    &::after {
        content: var(--#{$prefix}after-content, none);
        @include var("#{$prefix}after-");
    }
}



@mixin moduleBaseVarSet($parentValue: "", $value: "") {
    $parentPrefix: if($parentValue != "", $parentValue + "-", "");
    $prefix: if($value != "", $value + "-", "");

    @include var("#{$parentPrefix}#{$prefix}");

    &::before {
        content: var(--#{$parentPrefix}#{$prefix}before-content, none);
        @include var("#{$parentPrefix}#{$prefix}before-");
    }   
    &::after {
        content: var(--#{$parentPrefix}#{$prefix}after-content, none);
        @include var("#{$parentPrefix}#{$prefix}after-");
    }
}


@mixin moduleBaseVar($value: "") {
    $prefix: if($value != "", $value, "");
    @include defaultVar("#{$prefix}");

    &>.wrapper {
        @include moduleBaseVarSet("#{$prefix}", "wrapper");
        
        &>.inner {
            @include moduleBaseVarSet("#{$prefix}", "inner");
        }
    }
}

// contentsWidth01
@mixin contentsWidth01 {
    max-width: calc(var(--contentsWidth01-width, var(--root-contents-width01)) + var(--contentsWidth01-padding, var(--root-contents-side-gap01)) * 2);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--contentsWidth01-paddingLeft, var(--root-contents-side-gap01));
    padding-right: var(--contentsWidth01-paddingRight, var(--root-contents-side-gap01));
    box-sizing: border-box;
}

[data-mixin~="contentsWidth01"] {
    @include contentsWidth01;
}

@mixin cssVar($class, $css, $default) {
  $className: null; 

  @if meta.type-of($class) == "list" {
    $className: "";
    @for $i from 1 through list.length($class) {
      $className: $className + if($i == 1, "", "-") + list.nth($class, $i);
    }
  } @else {
    $className: $class;
  }

  #{$css}: var(--#{$className}-#{$css}, #{$default});
}