@use "../_mixin/" as *;
@use "../_config" as *;


.c-component01 {
    margin-bottom: var(--component-margin-bottom, 100px);
    &>.wrapper {
        @include contentsWidth01;
    }
}

.c-largeImageside01 {
    --image-width: 100%;
    --inner-gap: 20px;
    container-type: inline-size;

    margin-bottom: var(--component-margin-bottom, 100px);

    &>.wrapper {
        @include contentsWidth01;
    }
    &>.wrapper {
        &>.inner {
           .block {
                &:has(.image) {
                    --block-width: 50%;
                }
            }
        }
    }
    &[data-position="left"] {
        .block {
            &:has(.image) {
                --block-margin-left: calc((100svw - #{$CONTENTS_WIDTH01}) * -0.5);
                @container (max-width: #{$CONTENTS_WIDTH01}) {
                    --block-margin-left: calc(var(--root-contents-side-gap01, 20px) * -1.0);
                }
            }
        }
    }
    &[data-position="right"] {
        .block {
            &:has(.image) {
                --block-margin-right: calc((100svw - #{$CONTENTS_WIDTH01}) * -0.5);
                @container (max-width: #{$CONTENTS_WIDTH01}) {
                    --block-margin-right: calc(var(--root-contents-side-gap01, 20px) * -1.0);
                }
            }
        }
    }
}
